.cart {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}

.single-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 20px;
}
.item-text-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  font-weight: 400;
}

.item-text-description p {
  font-size: 14px;
  font-weight: 400;
}
.item-button-group {
  display: flex;
  width: 100px;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.item-button-group p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
}

.item-image {
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #e2e2e2;
}
.quantity-container {
  display: flex;
}

.remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: red;
  margin-left: 20px;
}

.plus-button {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}

.minus-button {
  font-size: 18px;
  justify-text: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: left;
  color: #555;
  gap: 20px;
}
.cart-total hr {
  margin-top: 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}
.cart-total button:hover {
  background-color: #ff4d4d;
}

.cart-total button:active {
  background-color: #ff4d4d;
  opacity: 0.8;
}
