.bill {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}

.single-bill-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 20px;
}
.bill-item-text-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: 400;
  justify-content: space-between;
}

#bill-item-quantity {
  font-size: 14px;
  color: #555;
}

.bill-item-text-description p {
  font-size: 16px;
  font-weight: 400;
}

.bill-item-image {
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #e2e2e2;
}

.bill-items-item {
  margin: 10px 0;
  color: black;
}
.bill-items-item img {
  width: 50px;
}
.bill hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.bill-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.bill-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bill-total-details {
  display: flex;
  justify-content: left;
  color: #555;
  gap: 20px;
}
.bill-total hr {
  margin: 10px 0;
}
.bill-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

.bill-total button:hover {
  background-color: #ff4d4d;
}

.bill-total button:active {
  background-color: #ff4d4d;
  opacity: 0.8;
}
